<div class="adminPage">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <button class="btn btn-primary my-2 my-sm-0" (click) = "toHome()">Home</button>
      </li>

      <li class="nav-item">
        <button class="btn btn-primary my-2 my-sm-0" (click) = "toAddDoctor()">Add Doctor</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary my-2 my-sm-0" (click) = "toDoctorList()">View Doctors</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary my-2 my-sm-0" (click) = "toAppointmentList()">View Appointments</button>
      </li>
    </ul>

  </div>
</nav>

<div class='container'>
  <div class="card">
    <div class="card-header">
      Appointment List
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table"
                *ngIf="appointmentList && appointmentList.length">
          <thead>
            <tr>
              <td>Doctor</td>
              <td>Date</td>
              <td>Time</td>
              <td>Patient</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let appointment of appointmentList'>
              <td>{{ appointment.doctor.lastName }}</td>
              <td>{{ appointment.date }}</td>
              <td>{{ appointment.period }}</td>
              <td>{{ appointment.patient.lastName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>